.header-contacts {
    background: #f9b233;
    padding: 10px 0;
}
.header-contacts__information {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 600px;
    text-transform: uppercase;
    font-size: 12px;
}
.header-items {
    display: flex;
    justify-content: space-between;
}
.header-items__map a {
    color: red;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px;
}
.header-menu {
    display: flex;
}
.header-menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu-list__item a {
    display: inline-block;
    padding: 20px 15px;
    text-transform: uppercase;
    color: black;
}
.header-menu-list__item:hover a,
.header-menu-list__item_active a
{
    color: red;
 }
.header-menu__logo img {
    width: 150px;
    height: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
    background: #444444;
    color: white;
    padding: 30px 0;
    text-transform: uppercase;
}
.footer__name {
    color: #909090;
}
.footer a {
    color: white;
}
.form__btn {
    color: white;
    background: red;
    border: 0;
    width: 100px;
    height: auto;
}
.form__title {
    margin-bottom: 10px;
}
.footer input,
.footer textarea {
    color: black;
    width: 265px;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
}
.footer-information {
    display: flex;
    justify-content: space-between;
}
.footer-information__logo {
    height: auto;
    width: 150px;
    margin-bottom: 10px;
}
.footer-information__contacts {
    line-height: 40px;
}
