.header-contacts {
    background: #f9b233;
    padding: 15px 0;
}
.header-contacts__information {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 600px;
    text-transform: uppercase;
}
.header-items {
    display: flex;
    justify-content: space-between;
}
.header-items__map a {
    color: red;
    text-transform: uppercase;
    text-decoration: underline;
}