<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="app/css/bootstrap.css" rel="stylesheet">
    <link href="app/css/main.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div id="app" class="container">
        <div class="app__title">
            <h1>Your todo-list</h1>
        </div>
        <div class="app__wrapper">
            <div class="app__wrapper_items">
                <div>
                    <input type="text" v-model="text" v-on:keyup.enter="add" class="form-control form-control_width" placeholder="Какие у вас задачи на сегодня?">
                </div>
                <div>
                    <button type="button" class="btn btn-add-task" v-on:click="add">
                        Add task
                    </button>
                </div>
            </div>

            <div class="app__tasks">
                <ul class="app__list">
                    <li v-bind:class="statusItem(task)" v-for="(task, index) in tasks">
                        <span v-on:click="changeTaskStatus(task)" v-bind:class="statusIcon(task)" class="glyphicon  app__task-icon"></span>
                        <span>{{task.taskText}}</span>
                        <span class="glyphicon glyphicon-trash app__task-icon app__task-icon_delete" v-on:click="deleteTask(index)"></span>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="app/js/vue.js"></script>
    <script src="app/js/main.js"></script>
</body>
</html>